body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --white: #ffffff;
  --font-color: #191a2e;
  --bg-color: #f8f9fa;
}

[data-theme="dark"] {
  --bg-color: #191a2e;
  --font-color: #f8f9fa;
}

body {
  background-color: var(--bg-color);
}


input,
select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  font-size: 1rem;
}

.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-success {
  margin-left: 10px;
  background-color: var(--success);
  color: var(--light);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--light);
}

/* Navbar */
.nav.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 1px solid lightgrey;
  background: var(--bg-color);
  color: var(--font-color);
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--font-color);
  text-decoration: none;
}

.nav__users {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav__users-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

main {
  padding: 50px 30px;
}

/* Action bar */
.action-bar {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 15px 0;
}

#newBookForm input,
#newBookForm select {
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
  font-size: smaller;
  font-weight: 600;
  margin-bottom: 3px;
}

table,
th,
td {
  border: 2px solid lightgray;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--bg-color);
  color: var(--font-color);
}

th,
td {
  padding: 10px;
}

tr {
  transition: all 300ms ease-in-out;
  height: 52px;
}

td:last-child {
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 300ms linear;
}

.modal.show {
  display: block;
}

/* Modal Content */
.modal-content {
  transition: all 300ms ease-in-out;
  min-width: 250px;
  max-width: 25%;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
}


.modal__main {
  padding: 20px 0px;
}

/* [X] button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal__footer {
  padding: 0 10px;
  display: flex;
  justify-content: space-evenly;
}

footer {
  text-align: center;
}

footer a {
  color: #a364fb;
  text-decoration: none;
  margin-top: 20px;
}

.page-number.active {
  background-color: var(--primary);
  color: white;
}

/* Pagination */
.pagination {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination.hide {
  display: none;
}

.pagination>span {
  background-color: darkgrey;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: var(--light);
}

/* Darkmode toggle */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--font-color);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: var(--bg-color);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
  transform: translateX(24px);
}